/*
solarized dark color scheme:
----------------------------
background - #002b36 
background:highlight - #073642

primary-content - #839496
secondary-content - #93a1a1
optional-content:emphasis - #586e75

yellow - #b58900
orange - #cb4b16
red - #dc322f
magenta - #d33682
violet - #6c71c4
blue - #268bd2
cyan - #2aa198
Green - #859900
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #002b36;
  /* color: #fafafa; */
  color: #93a1a1;
}

main {
  min-height: 80vh;
}

.input-field input[type='text'],
.input-field input[type='text']:focus {
  /* background-color: #212121 !important; */
  color: #fafafa !important;
}

.input-field input[type='email'],
.input-field input[type='email']:focus {
  /* background-color: #212121 !important; */
  color: #fafafa !important;
}

.input-field input[type='password'],
.input-field input[type='password']:focus {
  /* background-color: #212121 !important; */
  color: #fafafa !important;
}
.input-field textarea,
.input-field textarea:focus {
  /* background-color: #212121 !important; */
  color: #fafafa !important;
}

.blog-edit-textarea {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.dropdown-content,
.dropdown-content li a {
  color: #fafafa !important;
  background-color: #002b36 !important;
}
.dropdown-content li:hover a:hover {
  background-color: #073642 !important;
}

.card-color {
  background-color: #073642 !important;
  color: #93a1a1 !important;
}

.card-content-color {
  background-color: #073642 !important;
  color: #586e75 !important;
}

.card-footer-color {
  color: #839496 !important;
}

.nav-color {
  background-color: #073642;
  color: #839496;
}

.sidenav,
.sidenav li a {
  color: #fafafa !important;
  background-color: #002b36 !important;
}
.sidenav li:hover a:hover {
  background-color: #073642 !important;
}

.micon {
  position: relative;
  top: 4px; /*Change this to adjust the icon*/
}

.blog-link {
  color: #268bd2 !important;
}

.blog-link:hover {
  color: #2076b3 !important;
}

.btn-back {
  background-color: #839496 !important;
  /* transform: scale(0.9); */
}

.btn-back:hover {
  background-color: #6f7e80 !important;
}

.alert .card-content span {
  font-weight: bold;
  font-size: 1.1em;
  margin-right: 4px;
}

.btn-yellow {
  background-color: #b58900 !important;
}

.btn-yellow:hover {
  background-color: #9a7400 !important;
  border-color: #916e00;
}

.form-container {
  margin: auto;
  max-width: 80%;
}

.material-icons {
  font-size: 1.5em;
  position: relative;
  top: 5px;
  margin-right: 0.5em;
}

/* pagination */
.active-page a {
  background-color: #9a7400;
  color: #fafafa !important;
}

.inactive-page a {
  /* background-color: #9a7400; */
  color: #839496 !important;
}

.disabled-arrow {
  color: #444;
}

.enabled-arrow a i {
  color: #9a7400 !important;
}

.float-left {
  right: auto !important;
  left: 23px !important;
}
